@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 46%, 89%);
    --Grayish-blue: hsl(219, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    
    background: var(--Light-gray);

    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 320px;
    height: 497px;
    padding: 16px;
    
    background: var(--White);
    
    
    border-radius: 16px;
    
    text-align: center;

    display: flex;
    flex-direction: column;
}

.card-img{
    width: 100%;

    border-radius: 8px;
    flex:1  
}

.card-body{
    
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1;
    
}
.card-title{
    font-family: 'Outfit', sans-serif;
    color:var(--Dark-blue);
    font-weight: 700;
    font-size:1.37rem;
}
.card-paragraph{
    font-family: 'Outfit', sans-serif;
    color: var(--Grayish-blue);
    font-weight: 400;
    font-size:0.938rem;
}